/* font-family: 'Baskervville', serif;
font-weight: Regular 400 or Regular 400 Italic: 
font-family: 'Roboto', sans-serif;
font-weight:Regular 400 */


body {
  border: 1rem;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  
}

.container-one {
  font-family: Baskervville;
  font-weight: Regular 400;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2BCEC0;
  color: white;
  padding: 5rem;
  
}

.container-two {
  font-family: Roboto;
  font-weight: Regular 400;
  background-color: #1B1B1B;
  color: white;
  display: flex;
  text-align: center;
  gap: 5rem;
  padding: 5rem;
}

.box {
  justify-content: space-around;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

h2 {
  font-family: Baskervville;
  font-weight: Regular 400;
}

.rectangle-one {
  width: 200px;
  height: 30px;
  background: #33A8DD;
  margin: auto;
}

.rectangle-two {
  width: 200px;
  height: 30px;
  background: #F46730;
  margin: auto;
}

.rectangle-three {
  width: 200px;
  height: 30px;
  background: #2BCEC0;
  margin: auto;
}

@media (max-width: 580px) {
  body{
    border: 5px;
  }
  
  .container-one {
    background-color: #33A8DD;
    padding: 5px;
    height: 200px;
    margin-bottom: 20px;
  }

  .container-two {
    background-color: white;
    color: #1B1B1B;
    flex-direction: column;
  }
}